.c1{
    width: 100%;
    height: 100px;
    background-color: aqua;
    
}
.c2{
    width: 100%;
    height: 100px;
    background-color: blue;
}

@media screen and (max-width: 600px) {
    body {
      background-color: white;
      display: flex;
    }
